body{
    background-color: rgba(158, 104, 244, 0.867);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: start;
    
}
p{
    text-align: center;
}
h1{

}